:root {
  --primaryOrange: #982b00;
  --secondaryOrange: #ca3501;
  --tertiaryOrange: #ff3f00;

  --primaryGreen: #10cd98;
  --secondaryGreen: #1e725b;
  --tertiaryGreen: #02412f;

  --primaryBlack: #181818;
  --secondaryBlack: #2c2c2c;

  --primaryWhite: #ffffff;

  --offlineColor: #888888;
  --onlineColor: #00ac00;

  --primaryText: #646c7e;

  --primaryHead: #071337;

  --primaryLink: #b9c8c1;

  --statusSize: .6rem;
  --statusSizeSmall: .4rem;

  --h2FontSize: 3.8rem;
}

//:root {
//  --primaryOrange: #ff6300;
//  --secondaryOrange: #ff9a00;
//  --tertiaryOrange: #fcbd34;
//
//  --primaryBlack: #181818;
//  --secondaryBlack: #2c2c2c;
//
//  --primaryWhite: #ffffff;
//}
