@import "../../../../../sass/mixins";

$placeholderColor: rgba(255, 255, 255, .7);
$inputColor: rgba(255, 255, 255, .9);
$inputFontSize: 1.45rem;
$placeholderFontSize: 1.3rem;
$labelFontSize: 1.3rem;

@mixin input-group($type) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @if $type == horizontal {
    margin-right: 7rem;
  } @else if $type == vertical {
    margin-right: 1rem;
  }

  input {
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    outline: none;
    color: $inputColor;
    @if $type == horizontal {
      border-top: .1rem solid #fff;
      border-bottom: .1rem solid #fff;
    } @else if $type == vertical {
      border-left: .1rem solid #fff;
      border-right: .1rem solid #fff;
      width: 8rem;
      text-align: center;
    }
    background-color: #120618;
    position: relative;
    font-size: $inputFontSize;
    letter-spacing: .1rem;
    line-height: 1.65;

    &::placeholder {
      color: $placeholderColor;
      font-size: $placeholderFontSize;
    }

    &:not(:placeholder-shown):not(:focus):valid {
      @if $type == horizontal {
        border-top: .1rem solid #02ff02;
        border-bottom: .1rem solid #02ff02;
      } @else if $type == vertical {
        border-left: .1rem solid #02ff02;
        border-right: .1rem solid #02ff02;
      }
    }


    &:not(:focus):invalid {
      @if $type == horizontal {
        border-top: .1rem solid #ff0000;
        border-bottom: .1rem solid #ff0000;
      } @else if $type == vertical {
        border-left: .1rem solid #ff0000;
        border-right: .1rem solid #ff0000;
      }
    }

    &:not(:placeholder-shown) ~ label.settings--profile__label {
      opacity: 1;
      visibility: visible;
      transform: translateY(-220%);
      @if $type == vertical {
        transform: translate(-50%, 115%);
      }
    }

    &:focus + label {
      transform: scaleX(1);
      @if ($type == vertical) {
        transform: scaleY(1);
      }
    }
  }

  label.settings--profile__border-bottom {
    @if $type == horizontal {
      border-top: .1rem solid #FFFF00;
      border-bottom: .1rem solid #FFFF00;
    } @else if $type == vertical {
      border-left: .1rem solid #FFFF00;
      border-right: .1rem solid #FFFF00;
    }

    border-radius: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .5s;
    transform: scaleX(0);
    @if ($type == vertical) {
      transform: scaleY(0);
    }
  }

  label.settings--profile__label {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 1rem;
    font-size: $labelFontSize;
    transform: translateY(-50%);
    letter-spacing: .1rem;
    line-height: 1.65;
    transition: all .4s;
    color: rgba(255, 255, 255, .9);
    @if $type == vertical {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]::-moz-inner-spin-button {
  -moz-appearance: none;
}

.settings--profile {
  &-container {
    background-color: #000000;
    background-image: linear-gradient(0deg, rgba(19, 48, 64, .7) 0%, rgba(44, 62, 80, .7) 74%);
    box-shadow: inset 0 0 1rem .1rem rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 0 3rem;
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border: .1rem solid #ff6600;
    width: 60%;
    margin: 2rem auto 0;
    border-radius: 1rem;
    background-color: #000000;
    background-image: linear-gradient(0deg, rgba(19, 48, 64, .7) 0%, rgba(44, 62, 80, .7) 74%);
    padding: 2rem 1rem;
    box-shadow: inset 0 0 1rem .1rem rgba(255, 255, 255, .2);

    .must--fill {
      color: #ff6f00;
    }

    p {
      margin: 1rem 0;
    }
  }

  &__body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    form {
      width: 100%;
    }
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;


    .inputs--top {
      & > * {
        margin-bottom: 7rem;
      }

      margin-top: 4rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .inputs--bottom {
      display: flex;

      @include responsive(tab-land) {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
      }
    }

    .gender--container {
      display: flex;
      margin-right: 7rem;

      .radio--group-container {
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .input--group-container__horizontal {
      @include input-group(horizontal);

      &.philosophy {
        input {
          width: 47rem;

          @media only screen and (max-width: 43.75em) { //700px
            width: 36rem;
          }

          @media only screen and (max-width: 31.25em) { //500px
            width: 31rem;
          }

          @include responsive(phone-small) {
            width: 28rem;
          }
        }
      }

      &.bio {
        input {
          width: 54rem;

          @media only screen and (max-width: 43.75em) { //700px
            width: 43rem;
          }

          @media only screen and (max-width: 31.25em) { //500px
            width: 33rem;
          }

          @include responsive(phone-small) {
            width: 29rem;
          }
        }
      }

      .counter {
        position: absolute;
        top: 110%;
        right: 1%;
        font-size: 1.3rem;
      }
    }

    .radio--group-container {
      margin-right: 2.5rem;
      position: relative;

      input {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &:checked + label .radio--bg::before {
          opacity: 1;
          visibility: visible;
        }

      }

      label {
        display: flex;
        align-items: center;
        cursor: pointer;

        .radio--bg {
          display: block;
          border: .5rem solid #09c6f9;
          border-radius: 50%;
          width: 3.5rem;
          height: 3.5rem;
          position: relative;

          &::before {
            content: '';
            width: 60%;
            height: 60%;
            position: absolute;
            background-color: #045de9;
            background-image: linear-gradient(0deg, #045de9 0%, #09c6f9 74%);
            top: 22%;
            left: 21%;
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            transition: all .4s;
          }
        }

        .radio--text {
          margin-left: 1rem;
          font-size: 1.7rem;
        }
      }
    }

    .input--multi {
      display: flex;
      position: relative;
      justify-content: center;

      h3 {
        letter-spacing: .5rem;
        line-height: 2;
        font-size: 2rem;
        font-weight: 300;
        position: absolute;
        top: -90%;
      }

      .input--group-container__vertical {
        @include input-group(vertical);
      }

      &.location {
        input {
          width: 15rem;

          @include responsive(phone-small) {
            width: 13rem;
          }
        }
      }

      &.social-media {
        flex-direction: column;
        width: 80%;

        & > * {
          margin-bottom: 3rem;
          position: relative;
        }

        input {
          width: 100%;
          height: 6rem;
          padding-left: 8rem;
          text-align: left;
          font-size: 1.7rem;

          &:not(:placeholder-shown) ~ label.settings--profile__label {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 140%);
          }
        }

        .input--icon-container {
          position: absolute;
          z-index: 10000;
          left: .1rem;
          top: .1rem;
          padding: .5rem .8rem;
          height: 98%;
          border-radius: 1rem 0 0 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &.twitter {
            background-color: #1DA1F2;
          }

          &.instagram {
            background-color: #d6249f;
            background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
          }

          &.facebook {
            background-color: #3b5998;

            img {
              width: 5rem;
              height: 5rem;
              filter: invert(1);
              transform: translate(20%, 10%);
            }
          }

          &.youtube {
            background-color: #c4302b ;
          }

          img {
            width: 5rem;
            height: 5rem;
            filter: invert(1);
          }
        }

        .settings--profile__icon-label {
          position: relative;
          height: 100%;

          @include responsive(tab-land) {
            height: 5.9rem;
          }
        }

        .settings--profile__label {
          padding-left: 8rem;
          width: 100%;
          overflow: hidden;
        }
      }
    }

    .input--phone-number {
      color: #fff;
      font-family: Roboto-Regular;
      border: none;
      background-color: black;
      border-radius: 10rem;
      margin-right: 7rem;

      .iti__arrow {
        border-top: 4px solid #fff;
      }

      .iti__selected-flag {
        background-color: #454444 !important;
        border-radius: 1rem 0 0 1rem;
        outline: none;
        border: none;
      }

      .iti__country-list {
        background-color: #120618;
        border: none;
        outline: none;
        border-radius: 1rem;
        padding: 1rem;
        max-height: 30rem;

        li {
          padding: 1rem;

          &:hover {
            background-color: #01064c;
          }
        }
      }

      .iti--allow-dropdown {
        position: relative;
      }

      input {
        width: 100%;
        height: 100%;
        font-size: $inputFontSize;
        background-color: #120618;
        padding: 1.4rem 2rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        color: $inputColor;
        text-align: left;
        transition: all .4s;
        border-left: .1rem solid #fff;
        border-right: .1rem solid #fff;
        letter-spacing: .1rem;


        &::placeholder {
          color: $placeholderColor;
          font-size: $placeholderFontSize;
          letter-spacing: .1rem;
        }

        &:not(:placeholder-shown) ~ label.input--text {
          opacity: 1;
          visibility: visible;
          transform: translateY(215%);
        }

        &:focus ~ label.input--bg {
          transform: scaleY(1);
        }

        &:not(:placeholder-shown):not(:focus):valid {
          border-left: .1rem solid #02ff02;
          border-right: .1rem solid #02ff02;
        }

        &:not(:placeholder-shown):not(:focus):invalid {
          border-left: .1rem solid #ff0000;
          border-right: .1rem solid #ff0000;
        }
      }

      label.input--bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-left: .1rem solid #ffff00;
        border-right: .1rem solid #ffff00;
        border-radius: 1rem;
        transform: scaleY(0);
        transition: all .4s;
      }

      label.input--text {
        position: absolute;
        left: 24%;
        top: 38%;
        font-size: $labelFontSize;
        letter-spacing: .1rem;
        transition: all .4s;
        opacity: 0;
        visibility: hidden;
      }
    }

    .input--bottom-collection {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 0 2rem 2rem;

      @include responsive(tab-land) {
        margin: 2rem 0;
      }

      h3 {
        letter-spacing: .5rem;
        line-height: 2;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;

        &.discover {
          font-size: 1.6rem;
          display: inline-block;
        }

        span {
          border-bottom: .1rem solid rgba(255, 255, 255, .3);
          padding: 0 0 .3rem .1rem;
          border-radius: 7%;
        }
      }

      .radio--group-container {
        margin: .5rem 0;
      }

      span.radio--bg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .security--questions-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include responsive(tab-land) {
        margin-bottom: 9rem;
      }

      h3 {
        letter-spacing: .5rem;
        line-height: 2;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: .5rem;
      }

      p {
        font-size: 1.6rem;
        margin-bottom: .5rem;
        text-align: center;
      }

      .reset--questions {
        padding: 2rem 3rem;
        cursor: pointer;
        background-color: #2a2a72;
        background-image: linear-gradient(0deg, #2a2a72 0%, #009ffd 74%);
        font-size: 1.7rem;
        border-radius: 2rem;
        margin-top: 2rem;

        &:hover {
          background-image: linear-gradient(135deg, #2a2a72 0%, #009ffd 74%);
        }
      }

      .questions--group {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 40%;
        position: relative;

        @include responsive(small-laptop) {
          width: 60%;
        }

        @include responsive(phone-big) {
          width: 80%;
        }

        @include responsive(phone) {
          width: 90%;
        }

        &:last-child {
          margin-top: 3rem;
        }

        input {
          margin-top: 1rem;
          border: none;
          outline: none;
          padding: 1rem;
          border-radius: 1rem;
          font-size: 1.6rem;
        }
      }

      .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #120618;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.7rem;
        border-top: .1rem solid rgba(255, 255, 255, .7);
        border-bottom: .1rem solid rgba(255, 255, 255, .7);
        cursor: pointer;
        transition: all .4s;

        img {
          width: 1.65rem;
          transform: rotate(-90deg);
          transition: all .4s;
        }

        &.active {
          border-top: .1rem solid #ffff00;
          border-bottom: .1rem solid #ffff00;

          img {
            transform: rotate(90deg);
          }
        }
      }

      .questions--one, .questions--two {
        opacity: 0;
        visibility: hidden;
        background-color: #120618;
        border-radius: 1rem;
        position: absolute;
        width: 100%;
        top: 53%;
        z-index: 100;
        transition: all .4s;
        transform: scale(0);
        transform-origin: top right;
        height: 27rem;
        overflow-y: auto;

        @include responsive(phone) {
          top: 61%;
        }

        li {
          list-style: none;
          padding: 1rem;
          font-size: 1.7rem;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, .2);
          }
        }

        &.active {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }

  &__footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
    margin-top: 7rem;

    @include responsive(tab-land) {
      margin-top: -4rem;
    }

    .upper-container {
      min-height: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form--error {
      font-size: 2rem;
      margin-bottom: -1rem;
      color: #ff0000;

      @include responsive(phone) {
        font-size: 1.7rem;
      }
    }

    .spinner--container {
      transform: scale(.9);
      margin-bottom: 2rem;

      @include responsive(phone-big) {
        transform: scale(.7);
      }
    }

    .form--success {
      font-size: 2rem;
      margin-bottom: -1rem;
      color: #00ff00;

      @include responsive(phone) {
        font-size: 1.7rem;
      }
    }
  }
}
