@import '../../../sass/mixins';

.clock--container {
  text-align: right;
  width: 50%;

  @media only screen and (max-height: 43.75em) { //700px
    transform: scale(.65);
  }

  @include responsive(tab-port) {
    transform: scale(.8);
  }

  @include responsive(phone-big) {
    transform: scale(.7) translateX(22%);
  }

  @include responsive(phone) {
    transform: scale(.6) translateX(32%);
  }

  @media only screen and (max-width: 34.375em) { //550px
    transform: scale(.5) translateX(22%);
  }

  @media only screen and (max-width: 31.25em) { //500px
    transform: scale(.5) translateX(15%);
  }

  @media only screen and (max-width: 28.125em) { //450px
    transform: scale(.5) translateX(0);
  }

  @include responsive(phone-small) {
    transform: scale(.45) translateX(10%);
  }

  @media only screen and (max-width: 22.5em) { //360px
    transform: scale(.4) translateX(-1%);
  }
}
